<configuration> 
  <system.runtime.remoting>
    <application name="SrvToolObject">
      <service>
        <wellknown mode="Singleton" type="TTSpeech.TTSpeech, TTSpeech" objectUri="ToolObject"/>
      </service>
      <channels>
        <channel ref="tcp" port="2501" displayName="TCP Channel(Server)"/>
      </channels>
    </application>
  </system.runtime.remoting>
</configuration>